recipeproj.metadata.v7.bin
recipeproj.projects.v7.bin
11f64fcf-6e02-4e20-83e8-c796fd786992.vsidx
1958e5f7-d25f-46e8-993b-18d96b48d0a8.vsidx
1fcac709-b14e-4ba2-a28c-74f1dca772e8.vsidx
3dffec99-540e-410f-b774-07f646dcb656.vsidx
cace1bb3-cce8-4c7e-844d-0e3910c5bc59.vsidx
.dtbcache.v2
applicationhost.config
.futdcache.v2
.suo
ReceipieSite.esproj.CoreCompileInputs.cache
ReceipieSite.esproj.FileListAbsolute.txt
RecipeSite.esproj.CoreCompileInputs.cache
RecipeSite.esproj.FileListAbsolute.txt
Humanizer.dll
Microsoft.AspNetCore.Authorization.dll
Microsoft.AspNetCore.Components.Forms.dll
Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter.dll
Microsoft.AspNetCore.Components.QuickGrid.dll
Microsoft.AspNetCore.Components.Web.dll
Microsoft.AspNetCore.Components.dll
Microsoft.AspNetCore.Metadata.dll
Microsoft.AspNetCore.OpenApi.dll
Microsoft.AspNetCore.Razor.Language.dll
Microsoft.Bcl.AsyncInterfaces.dll
Microsoft.Build.Framework.dll
Microsoft.Build.dll
Microsoft.CodeAnalysis.AnalyzerUtilities.dll
Microsoft.CodeAnalysis.CSharp.Features.dll
Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Microsoft.CodeAnalysis.CSharp.dll
Microsoft.CodeAnalysis.Elfie.dll
Microsoft.CodeAnalysis.Features.dll
Microsoft.CodeAnalysis.Razor.dll
Microsoft.CodeAnalysis.Scripting.dll
Microsoft.CodeAnalysis.Workspaces.dll
Microsoft.CodeAnalysis.dll
Microsoft.DiaSymReader.dll
Microsoft.DotNet.Scaffolding.Shared.dll
Microsoft.EntityFrameworkCore.Abstractions.dll
Microsoft.EntityFrameworkCore.dll
Microsoft.Extensions.DependencyModel.dll
Microsoft.Extensions.Options.dll
Microsoft.JSInterop.dll
Microsoft.NET.StringTools.dll
Microsoft.OpenApi.dll
Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
Microsoft.VisualStudio.Web.CodeGeneration.dll
Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
Microsoft.Win32.SystemEvents.dll
Mono.TextTemplating.dll
Newtonsoft.Json.dll
NuGet.Common.dll
NuGet.Configuration.dll
NuGet.DependencyResolver.Core.dll
NuGet.Frameworks.dll
NuGet.LibraryModel.dll
NuGet.Packaging.dll
NuGet.ProjectModel.dll
NuGet.Protocol.dll
NuGet.Versioning.dll
RecipeAPI.deps.json
RecipeAPI.dll
RecipeAPI.exe
RecipeAPI.pdb
RecipeAPI.runtimeconfig.json
RecipeAPI.staticwebassets.runtime.json
Swashbuckle.AspNetCore.Swagger.dll
Swashbuckle.AspNetCore.SwaggerGen.dll
Swashbuckle.AspNetCore.SwaggerUI.dll
System.CodeDom.dll
System.Composition.AttributedModel.dll
System.Composition.Convention.dll
System.Composition.Hosting.dll
System.Composition.Runtime.dll
System.Composition.TypedParts.dll
System.Configuration.ConfigurationManager.dll
System.Drawing.Common.dll
System.Reflection.MetadataLoadContext.dll
System.Security.Cryptography.ProtectedData.dll
System.Security.Permissions.dll
System.Windows.Extensions.dll
Humanizer.resources.dll
appsettings.Development.json
appsettings.json
Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Microsoft.CodeAnalysis.CSharp.resources.dll
Microsoft.CodeAnalysis.Features.resources.dll
Microsoft.CodeAnalysis.Scripting.resources.dll
Microsoft.CodeAnalysis.Workspaces.resources.dll
Microsoft.CodeAnalysis.resources.dll
dotnet-aspnet-codegenerator-design.dll
.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
RecipeAPI.AssemblyInfo.cs
RecipeAPI.AssemblyInfoInputs.cache
RecipeAPI.GeneratedMSBuildEditorConfig.editorconfig
RecipeAPI.GlobalUsings.g.cs
RecipeAPI.MvcApplicationPartsAssemblyInfo.cache
RecipeAPI.MvcApplicationPartsAssemblyInfo.cs
RecipeAPI.assets.cache
RecipeAPI.csproj.AssemblyReference.cache
RecipeAPI.csproj.BuildWithSkipAnalyzers
RecipeAPI.csproj.CopyComplete
RecipeAPI.csproj.CoreCompileInputs.cache
RecipeAPI.csproj.FileListAbsolute.txt
RecipeAPI.genruntimeconfig.cache
apphost.exe
RecipeAPI.styles.css
staticwebassets.build.json
staticwebassets.development.json
msbuild.build.RecipeAPI.props
msbuild.buildMultiTargeting.RecipeAPI.props
msbuild.buildTransitive.RecipeAPI.props
RecipeAPI.csproj.nuget.dgspec.json
RecipeAPI.csproj.nuget.g.props
RecipeAPI.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
/.vs/RecipeProj/FileContentIndex/*.vsidx
