<h3>Add Course Lessons:</h3>
<div class="add-lessons-form">


  <div class="row">
    <div class="col-sm">
      <label for="exampleTextarea">Title</label>
      <input class="form-control" type="text" placeholder="title" />
    </div>
    <div class="col-sm">
      <label for="exampleTextarea">timeToComplete</label>
      <input class="form-control" type="text" placeholder="timeToComplete" />
    </div>
    <div class="col-sm">
      <label for="exampleTextarea">notes</label>
      <input class="form-control" type="text" placeholder="notes" />
    </div>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">imgId</label>
    <input class="form-control" type="text" placeholder="imgId" />
  </div>

  <div class="form-group">
    <label for="exampleTextarea">ingredients</label>
    <input class="form-control" type="text" placeholder="ingredients" />
  </div>

  <button (click)="addStep()">
    add step
  </button>

  <ng-container formArrayName="steps">
    <ng-container *ngFor="let stepForm of steps.controls; let i = index">
      <div class="lesson-form-row">
        <input type="hidden" name="num" value="'index'">
        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="instructions"
                 placeholder="instructions">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <textarea formControlName="imgId"
                    placeholder="Lesson level">                        
                    </textarea>
        </mat-form-field>
        <button class="delete-btn" (click)="deleteStep(i)">
          delete Step
        </button>
      </div>
    </ng-container>
  </ng-container>

  <button (click)="addIngredient()">
    add ingredient
  </button>


  <ng-container formArrayName="ingredients">
    <ng-container *ngFor="let ingredientForm of ingredients.controls; let i = index">
      <div class="lesson-form-row2">
        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="description"
                 placeholder="description">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="qty"
                 placeholder="qty">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <textarea formControlName="unit"
                    placeholder="unit">                        
                  </textarea>
        </mat-form-field>
        <button class="delete-btn" (click)="deleteIngredient(i)">
          delete Ingredient
        </button>
      </div>
    </ng-container>
  </ng-container>



</div>
