<h2>Mode: {{isEdit ? 'Edit' : 'Add'}}</h2>



<div *ngIf="form">
  <form [formGroup]="form">

    <div class="row">
      <div class="col-sm">
        <label>Title</label>
        <input formControlName="title" class="form-control" type="text" placeholder="title" />
      </div>

      <div class="col-sm">
        <label>timeToComplete</label>
        <input formControlName="timeToComplete" class="form-control" type="text" placeholder="timeToComplete" />
      </div>
      <div class="col-sm">
        <label>notes</label>
        <input formControlName="notes" class="form-control" type="text" placeholder="notes" />
      </div>
    </div>


    <input type="file" class="file-input"
           (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">
      <!--{{fileName || "No file uploaded yet."}}-->
      <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>


    <h3>Steps</h3>

    <div formArrayName="steps">
      <div *ngFor="let orgs of form.get('steps')?.value;  let i = index; trackBy: trackByFn"
           [formGroupName]="i">
        <div class="row">
          <div class="col-sm">
            <label>Step Number</label>
            <input formControlName="num" placeholder="num" class="form-control">
          </div>
          <div class="col-sm">
            <label>Instructions</label>
            <input formControlName="instructions" placeholder="instructions" class="form-control">
          </div>
          <div class="col-sm">
            <label>Step image</label>
            <input formControlName="ImageData" placeholder="img" class="form-control">
          </div>
          <div class="col-sm">
            <button *ngIf="i !== 0" (click)="deleteStep(i)">delete Step</button>
          </div>
        </div>
      </div>
      <br />
      <button type="button" (click)="addStepItem()">Add Step</button>
    </div>

    <h3>Ingredient</h3>

    <div formArrayName="ingredients">
      <div *ngFor="let orgs of form.get('ingredients')?.value;  let i = index; trackBy: trackByFn"
           [formGroupName]="i" class="row">
        <div class="col-sm">
          <label>Description</label>
          <input formControlName="description" placeholder="desc" class="form-control">
        </div>
        <div class="col-sm">
          <label>Quantity</label>
          <input formControlName="qty" placeholder="many?" class="form-control">
        </div>
        <div class="col-sm">
          <label>Unit</label>
          <input formControlName="unit" placeholder="type" class="form-control">
        </div>
        <div class="col-sm">
          <button *ngIf="i !== 0" (click)="deleteIngredientItem(i)">delete Ingredient</button>
        </div>
      </div>
      <br />
      <button (click)="addIngredientItem()">Add Ingredient</button>
    </div>

    <button (click)="onSubmit()">Submit</button>
  </form>
<!--<pre>{{ form.value | json }}</pre>-->
</div>
