<h2>Mode: {{isEdit ? 'Edit' : 'Add'}}</h2>



<div *ngIf="form" class="p-3">
  <form [formGroup]="form">

    <div class="row">
      <div class="col-sm">
        <label>Title</label>
        <input formControlName="title" class="form-control" type="text" placeholder="title" />
      </div>
      <div class="col-sm">
        <label>Time to complete</label>
        <input formControlName="timeToComplete" class="form-control" type="text" placeholder="timeToComplete" />
      </div>
      <div class="col-sm">
        <label>Notes</label>
        <input formControlName="notes" class="form-control" type="text" placeholder="notes" />
      </div>
      <div class="col-sm">
        <label>Source</label>
        <input formControlName="source" class="form-control" type="text" placeholder="link" />
      </div>
    </div>

    <div class="row p-2">
      <div class="file-upload col-sm">
        <!--this is hidden by the css-->
        <input type="file" class="file-input"
               (change)="onFileSelected($event)" #fileUpload>
        <img height="150" width="150" src={{form.value.imageData}} />
        <button mat-mini-fab color="primary" class="upload-btn p-2" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>

    <h2>Steps</h2>

    <div formArrayName="steps">
      <div *ngFor="let orgs of form.get('steps')?.value;  let i = index; trackBy: trackByFn"
           [formGroupName]="i">

        <h4>Step {{orgs.num}}</h4>
        <div class="row">

          <div class="col-md-9">
            <label>Instructions</label>
            <textarea formControlName="instructions" placeholder="instructions" class="form-control" rows="8">  </textarea>
          </div>
          <div class="col-md-3">
            <div class="file-upload">
              <img height="150" width="150" src={{orgs.imageData}} />
              <input type="file" class="file-input"
                     (change)="onStepFileSelected($event, i)" #fileUpload>
              <button mat-mini-fab color="primary" class="upload-btn p-2" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
            </div>         
          </div>
          <div class="col-sm">
            <button *ngIf="i !== 0" (click)="deleteStep(i)"><mat-icon>delete_forever</mat-icon></button>
          </div>
        </div>
      </div>
      <br />
      <button type="button" (click)="addStepItem()">Add Step</button>
    </div>

    <h3 class="p-2">Ingredient</h3>

    <div formArrayName="ingredients">
      <div *ngFor="let orgs of form.get('ingredients')?.value;  let i = index; trackBy: trackByFn"
           [formGroupName]="i" class="row">
        <div class="col-md-4">
          <label>Description</label>
          <input formControlName="description" placeholder="desc" class="form-control">
        </div>
        <div class="col-md-4">
          <label>Quantity</label>
          <input formControlName="qty" placeholder="many?" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Unit</label>
          <input formControlName="unit" placeholder="type" class="form-control">
        </div>
        <div class="col-md-1">
          <button *ngIf="i !== 0" (click)="deleteIngredientItem(i)"><mat-icon>delete_forever</mat-icon></button>
        </div>
      </div>
      <br />
      <button (click)="addIngredientItem()">Add Ingredient</button>
    </div>

  
    <button (click)="onSubmit()">Submit</button>
  </form>
  <!--<pre>{{ form.value | json }}</pre>-->
</div>
